

 <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/image4.jpg" class="d-block w-100" alt="Image 4" style="max-height: 700px; width: auto;">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-4 fw-bolder">Shop in beauty</h1>
        <p class="lead fw-normal text-darkgrey-70 mb-0">Beauty in the Making</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/image3.jpg" class="d-block w-100" alt="Image 3" style="max-height: 695px; width: auto;">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-4 fw-bolder">Shop with pride</h1>
        <p class="lead fw-normal text-darkgrey-70 mb-0">Grunge Style Limited Edition</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/image9.jpg" class="d-block w-100" alt="Image 9" style="max-height: 700px; width: auto;">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-4 fw-bolder">Shop with smile</h1>
        <p class="lead fw-normal text-darkgrey-70 mb-0">Summer Outlook Sales</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
