<footer class="footer-class pt-5 pb-4">
    <footer class="footer-class bg-dark text-white text-center py-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="social-links">
                        <a href="https://www.facebook.com/yourprofile" target="_blank" class="text-white mx-3">
                            <i class="fab fa-facebook-f"></i> 
                        </a>
                        <a href="https://www.twitter.com/yourprofile" target="_blank" class="text-white mx-3">
                            <i class="fab fa-twitter"></i> 
                        </a>
                        <a href="https://www.instagram.com/yourprofile" target="_blank" class="text-white mx-3">
                            <i class="fab fa-instagram"></i> 
                        </a>
                        <a href="https://www.linkedin.com/in/yourprofile" target="_blank" class="text-white mx-3">
                            <i class="fab fa-linkedin-in"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
      <div class="container">
            <div class="row">
                <div class="col-lg-12">
                                      <p><a href="/unsubscribe">Unsubscribe Membership</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">        <p>&copy; <%= new Date().getFullYear() %> with  ZakfranNov. All rights reserved.</p>
</div>
    </footer>