<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/"> <i class="fas fa-baby animated bounce"></i> Babyshark
</a></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup for Membership</a>
                    </li>
                </ul>
                <!-- Member's Login Form with margin to the right -->
<form class="d-flex ms-auto me-2 ">
   <a id="loginButton" class="btn btn-outline-primary" href="/login">Login</a>
</form>
<!-- Cart Button with margin to the left -->
<!-- <form class="d-flex ml-5">
    <button class="btn btn-outline-dark" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
    </button>
</form> -->

            </div>
        </div>
    </nav>
</header>


