<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Congratulations, you have successfully become a member!</p>
            <p class="lead">Thanks for signing up.</p>
            <hr class="my-4">
            <p>Additional information or actions can be provided here.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Back to Homepage</a>
        </div>
    </div>
</body>
</html>