
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



/* .profile-pic {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    object-fit: cover;
} */

/* .list-group-item {
    border: none;
    padding: 10px 20px;
} */




